.BackgroundImageWithText {
    height: 500px;
    width: 100%;
    background: url("https://plus.unsplash.com/premium_photo-1677368538864-683417f96ba7?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.BackgroundImageWithText div {
    position: sticky;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.BackgroundImageWithText div p {
    color: white;
}

.AttachmentBlackoverlayContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.661);
}